@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Chantal Medium';
  src: url('/fonts/Chantal-Medium.woff2') format('woff2'); /* Ajuste le chemin */
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}